# Jupyter Notebooks
*.ipynb

# Python files
*.py
!linear_regression.py

# Datasets
datasets/

# Exercism
exercism/

# Other files
myfile
p.py
practice.py
binarysearch.py

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo
